{%- macro nmQuery(kind) -%}
{{search.queryAppend.get(kind, "")}}
{%- endmacro -%}
#!/bin/bash
### simple wrapper for notmuch
source "$(readlink -f $(dirname $0)/../activate)"
notmuch count tag:unread and NOT tag:killed {{nmQuery("Unread")}}
