application/pdf;		{{confdir}}/bgrun xdg-open %s; test=test "$DISPLAY" != ""
application/pdf;		pdftotext %s -; copiousoutput
image/*;			{{confdir}}/bgrun xdg-open %s; test=test "$DISPLAY" != ""
image/*;			cacaview %s
application/msword; antiword %s; copiousoutput
application/vnd.openxmlformats-officedocument.wordprocessingml.document; {{confdir}}/utils/docx2txt %s -; copiousoutput

