{% macro msmtp_acc(acc) %}
## Begin Account {{acc.name}}
account {{acc.name}}
{%- if acc.type == 'gmail' %}
host smtp.gmail.com
{%- else %}
host {{acc.smtp_host}}
{%- endif %}
domain localhost
{%- if acc.torify %}
timeout 120
{%-else%}
timeout 40{# this is for timeout of connection, not for sending #}
{%- endif %}
from {{acc.email}}
auth on
user {{acc.smtp_user or acc.email}}
passwordeval cat {{confdir}}/password/{{acc.name}}
tls_starttls off
tls on
port 465
{%- if acc.smtp_fingerprint %}
tls_fingerprint {{acc.smtp_fingerprint}}
{%- else %}
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{%- endif %}
{%- if acc.torify %}
proxy_host 127.0.0.1
proxy_port 9050
{% endif %}
## End Account {{acc.name}}

{%- endmacro -%}
### BEGIN global
{%- block msmtp_header %}
defaults
tls on
logfile {{confdir}}/msmtp.log
auto_from off
{%- endblock msmtp_header %}
### END global

### BEGIN accounts
{% block msmtp_accounts -%}
{%- for account in accounts %}
{{ msmtp_acc(account) }}
{% endfor -%}
{%- endblock msmtp_accounts -%}
### END accounts

### BEGIN default
{% block msmtp_default_account -%}
# Set a default account
# account default : provider
{%- endblock msmtp_default_account %}
### END default
{# vim: set ft=jinja: #}
# vim: set ft=msmtp:
