{% block notmuch_base %}
set nm_default_uri="notmuch://{{maildir}}" # path to the maildir
set virtual_spoolfile=yes                          # enable virtual folders
#set sendmail="/PATH/TO/bin/nm_sendmail"            # enables parsing of outgoing mail
virtual-mailboxes \
	"Unread"    "notmuch://?query=tag:unread and NOT tag:killed" \
	"INBOX"     "notmuch://?query=tag:inbox and date:1M.. and NOT tag:archive" \
	"Personal"  "notmuch://?query=date:1M.. NOT tag:lists" \
	"Recent"    "notmuch://?query=date:2w.." \
	"Starred"   "notmuch://?query=tag:*" \
	"GPG"       "notmuch://?query=date:1M.. tag:encrypted" \
	"Sent"      "notmuch://?query=date:1M.. tag:sent" 
{% endblock notmuch_base %}

{% block notmuch_macros %}
set query_command = "python2 {{confdir}}/utils/nbook '%s'"
source {{confdir}}/mutt-notmuch-macros
{% endblock notmuch_macros %}

# vim: set ft=muttrc:
