{% block mutt_forgotten_abort %}
set abort_noattach=ask-yes
{% endblock mutt_forgotten_abort %}
{% block mutt_forgotten_regexp %}
    set attach_keyword="\\<({{compose.attachment.words|join('|')}})\\>"
{% endblock mutt_forgotten_regexp %}
{# vim: set ft=jinja: #}
