{% block notmuch_base %}
set nm_record=yes
set nm_default_uri="notmuch://{{maildir}}" # path to the maildir
set virtual_spoolfile=yes                          # enable virtual folders
#set sendmail="/PATH/TO/bin/nm_sendmail"            # enables parsing of outgoing mail
virtual-mailboxes \
	"Unread"    "notmuch://?query=tag:unread and NOT tag:killed {{search.queryAppend.get("Unread", "")}}" \
	"INBOX"     "notmuch://?query=tag:inbox and date:1M.. and NOT tag:archive {{search.queryAppend.get("INBOX", "")}}" \
	"Personal"  "notmuch://?query=date:{{search.defaultPeriod}}.. NOT tag:lists {{search.queryAppend.get("Personal", "")}}" \
	"Recent"    "notmuch://?query=date:{{search.recentPeriod}}.. {{search.queryAppend.get("Recent", "")}}" \
	"Starred"   "notmuch://?query=tag:*" \
	"GPG"       "notmuch://?query=date:{{search.defaultPeriod}}.. tag:encrypted" \
	"Sent"      "notmuch://?query=date:{{search.defaultPeriod}}.. tag:sent"  \
    {% for acc in accounts -%}
    "ACC {{acc.name}}" "notmuch://?query=date:{{search.defaultPeriod}}.. {{acc.email}}" \
    {% endfor -%}
	{%- if sidebar.tagsEntries -%}
	{% for tag in sidebar.additional_tags -%}
	"ML {{tag.split('/')[1]}}" "notmuch://?query=date:{{search.defaultPeriod}}.. tag:{{tag}}"  \
	{% endfor -%}
	{% endif %}
{% endblock notmuch_base %}

{% block notmuch_macros %}
set query_command = "nbook '%s'"
source {{confdir}}/mutt-notmuch-macros
{% endblock notmuch_macros %}

{% block notmuch_index %}
tag-formats "lists" "GL"
{% raw %}
set index_format="%?GL? &»?%Z %{%b %d} %S %-15.15L %s"
{% endraw %}
{% endblock notmuch_index %}

# vim: set ft=muttrc:
