# Paths
set folder = {{maildir}} # mailbox location
set alias_file = {{confdir}}/alias # where to store aliases
set header_cache = {{confdir}}/cache/headers # where to store headers
set message_cachedir = {{confdir}}/cache/bodies # where to store bodies
set certificate_file = {{confdir}}/certificates # where to store certs
set mailcap_path = {{confdir}}/mailcap # entries for filetypes
set tmpdir = {{confdir}}/temp # where to keep temp files
set signature = {{confdir}}/sig # my signature file

# Basic Options
set wait_key = no # shut up, mutt
set mbox_type = Maildir # mailbox type
set timeout = 3 # idle time before scanning
set mail_check = 0 # minimum time between scans
unset move # gmail does that
set delete # don't ask, just do
unset confirmappend # don't ask, just do!
set quit # don't ask, just do!!
unset mark_old # read/new is good enough for me
set beep_new # bell on new mails
set pipe_decode # strip headers and eval mimes when piping
set thorough_search # strip headers and eval mimes before searching
set sleep_time = 0

alternates {{ accounts | join(' ', attribute='email') }}

############
# Index view
############
{% raw %}
set index_format = "%Z %{%b %d} %S %-15.15L %s"
{% endraw %}
set sort = threads

############
# Composing view
############
#
# Compose View Options
set realname = "{{realname}}"
set envelope_from # which from?
set sig_dashes # dashes before sig
set sig_on_top
set edit_headers # show headers when composing
set fast_reply # skip to compose when replying
set askcc # ask for CC:
set fcc_attach # save attachments with the body
unset mime_forward # forward attachments as part of body
set forward_format = "Fwd: %s" # format of subject when forwarding
set forward_decode # decode when forwarding
set attribution = "On %d, %n wrote:" # format of quoting header
set reply_to # reply to Reply to: field
set reverse_name # reply as whomever it was to
set include # include message in replies
set forward_quote # include message in forwards
set editor = "vim"
set text_flowed=yes # format=flowed

# Sending email options
set sendmail = "msmtp -C {{confdir}}/msmtprc"
set sendmail_wait = 0

# save sent in the folder where replied from
unset record
# folder-hook . "set record=^"

# Postponing etc.
bind compose p postpone-message
bind index p recall-message

source {{confdir}}/mutt-themes/{{mutt_theme}}

# source {{confdir}}/mutt-notmuch
source "{{confdir}}/utils/mutt-capability NOTMUCH {{confdir}}/mutt-notmuch|"
# source "{{confdir}}/utils/mutt-capability +SIDEBAR {{confdir}}/mutt-sidebar|"

{% block mutt_static_alias %}
{%- for acc in accounts -%}
alias {{acc.name}} {{acc.email}}
{% endfor -%}
{%- endblock %}
# vim: set ft=muttrc:
