# Paths
set folder = {{maildir}} # mailbox location
set alias_file = {{confdir}}/alias # where to store aliases
source "cat {{confdir}}/alias|" # read those alias ;)
set header_cache = {{confdir}}/cache/headers # where to store headers
set mailcap_path = {{confdir}}/mailcap # entries for filetypes
set tmpdir = {{confdir}}/temp # where to keep temp files
set signature = {{confdir}}/sig # my signature file
set mbox_type = Maildir # mailbox type


# Interaction, keys ,etc
set wait_key = no # shut up, mutt
set timeout = 3 # idle time before scanning
set mail_check = 0 # minimum time between scans
unset move # gmail does that
set delete # don't ask, just do
unset confirmappend # don't ask, just do!
set quit # don't ask, just do!!
unset mark_old # read/new is good enough for me
set beep_new # bell on new mails
set pipe_decode # strip headers and eval mimes when piping
set thorough_search # strip headers and eval mimes before searching
set sleep_time = 0

# Identity
alternates {{ accounts | join(' ', attribute='email') }}

############
# Status view
############
set status_format="%f [Msgs:%<M?%M/>%m%<n? New:%n>%<o? Old:%o>%<d? Del:%d>%<F? Flag:%F>%<t? Tag:%t>%<p? Post:%p>%<l? %l>]---(%s/%S)-%>-(%P)---"


############
# Index view
############
{% raw %}
set index_format = "%Z %{%b %d} %S %-15.15L %s"
{% endraw %}
set sort = threads
set reverse_alias=yes

############
# Message reading
############

set implicit_autoview=yes
alternative_order text/enriched text/plain text/html text

############
# Composing
############
#
# Compose View Options
set realname = "{{realname}}"
set envelope_from # which from?
set sig_dashes # dashes before sig
set sig_on_top
set edit_headers # show headers when composing
set fast_reply # skip to compose when replying
set askcc # ask for CC:
set fcc_attach # save attachments with the body
unset mime_forward # forward attachments as part of body
set forward_format = "Fwd: %s" # format of subject when forwarding
set forward_decode # decode when forwarding
set attribution = "%n:" # format of quoting header
set reply_to=ask-yes # obey to Reply-To... or sometimes not
set reverse_name # reply as whomever it was to
set include # include message in replies
set forward_quote # include message in forwards
set editor = "{{compose.editor}}"
set text_flowed=yes # format=flowed
set send_charset="us-ascii:utf-8"


############
# Reply in new "window"
############
macro index,pager R "<enter-command>unset pipe_decode<enter><pipe-message>{{confdir}}/bin/mutt-reply<enter><enter-command>set pipe_decode<enter>" "Reply in a new window"

############
# Sending
############
set sendmail = "msmtp -C {{confdir}}/msmtprc"
set sendmail_wait = 0
# default: local sent directory
set record = {{confdir}}/sent
{% for acc in accounts %}
{%- if acc.type == 'gmail' -%}
fcc-hook '~f {{acc.email}}' {{maildir}}/sent
{%- else -%} {# acc.type == 'imap' #}
fcc-hook '~f {{acc.email}}' {{maildir}}/{{acc.name}}/{{acc.sent|default("Sent")}}
{%- endif -%} {# acc.type #}
{% endfor %}

# save sent in the folder where replied from
unset record
# folder-hook . "set record=^"

# Postponing etc.
bind compose p postpone-message
bind index p recall-message

source {{confdir}}/mutt-themes/{{mutt_theme}}

# source {{confdir}}/mutt-notmuch
source "{{confdir}}/bin/mutt-capability +notmuch {{confdir}}/mutt-notmuch|"
source "{{confdir}}/bin/mutt-capability NOTMUCH {{confdir}}/mutt-notmuch|"
# source "{{confdir}}/bin/mutt-capability +SIDEBAR {{confdir}}/mutt-sidebar|"
source "{{confdir}}/bin/mutt-capability patch-forgotten-attachment {{confdir}}/mutt-forgotten-attachment|"
source "mutt-capability patch-cond-date {{confdir}}/mutt-cond-date|"

{% block mutt_static_alias %}
{%- for acc in accounts -%}
alias {{acc.name}} {{acc.email}}
{% endfor -%}
{%- endblock %}

#######
# Mail reading
# #####
macro pager \cb <pipe-entry>'{{programs.url_helper}}'<enter> 'Follow links with {{url_helper}}' 

#######
# GPG
#######
{% block mutt_gpg %}
set pgp_use_gpg_agent=yes
set pgp_decode_command="gpg --no-verbose --batch --decrypt --output - %f"
set pgp_verify_command="gpg --no-verbose --batch --output - --verify %s %f"
set pgp_decrypt_command="gpg --no-verbose --batch --decrypt --output - %f"
set pgp_sign_command="gpg --no-verbose --batch --output - --armor --detach-sign --textmode %?a?-u %a? %f"
set pgp_clearsign_command="gpg --no-verbose --batch --output -  --armor --textmode --clearsign %?a?-u %a? %f"
{# set pgp_encrypt_only_command="pgpewrap gpg --batch --quiet --no-verbose --output - --encrypt --textmode --armor --always-trust --encrypt-to 0xC9C40C31 -- -r %r -- %f" #}
set pgp_encrypt_only_command="pgpewrap gpg --batch --quiet --no-verbose --output - --encrypt --textmode --armor --always-trust -- -r %r -- %f"
set pgp_encrypt_sign_command="pgpewrap gpg --batch --quiet --no-verbose --textmode --output - --encrypt --sign %?a?-u %a? --armor --always-trust -- -r %r -- %f"
set pgp_import_command="gpg --no-verbose --import -v %f"
set pgp_export_command="gpg --no-verbose --export --armor %r"
set pgp_verify_key_command="gpg --no-verbose --batch --fingerprint --check-sigs %r"
set pgp_list_pubring_command="gpg --no-verbose --batch --with-colons --list-keys %r" 
set pgp_list_secring_command="gpg --no-verbose --batch --with-colons --list-secret-keys %r" 
set pgp_replyencrypt=yes
set pgp_good_sign="^gpg: Good signature from"
set pgp_entry_format="%3n Trust:%t[%f] %4l/0x%k %-4a %2c %u"

set pgp_auto_decode=yes
set pgp_long_ids=yes
set pgp_sort_keys=trust
bind compose p  pgp-menu
# if a message is signed, reply normally
# if a message is encryped, reply encrypted
set crypt_autosign=no
set crypt_replysign=no
set crypt_replyencrypt=yes
set crypt_replysignencrypted=no
# who cares about s/mime, we like gpg!
set smime_is_default=no

color body       color82 color237 "^gpg: Good signature.*"
color body       color196 color236 "^gpg: BAD signature.*"
color body       color202 color237 "^gpg: Can't check signature.*"
color body       color202 color237 "^gpg: Impossibile controllare la firma.*"
{% endblock mutt_gpg %}

source {{confdir}}/mutt_hooks

# vim: set ft=muttrc:
