set nm_default_uri="notmuch://{{maildir}}" # path to the maildir
set virtual_spoolfile=yes                          # enable virtual folders
#set sendmail="/PATH/TO/bin/nm_sendmail"            # enables parsing of outgoing mail
virtual-mailboxes \
	"INBOX"     "notmuch://?query=tag:inbox and date:1M.. and NOT tag:archive" \
	"Unread"    "notmuch://?query=tag:unread" \
	"Personal"  "notmuch://?query=NOT tag:lists date:1M.." \
	"Recent"    "notmuch://?query=date:2w.." \
	"Starred"   "notmuch://?query=tag:*" \
	"GPG"       "notmuch://?query=tag:encrypted date:1M.." \
	"Sent"      "notmuch://?query=tag:sent date:1M.." 


source {{confdir}}/mutt-notmuch-macros

# vim: set ft=muttrc:
