# notmuch bindings
macro index \\\\ "<vfolder-from-query>"              # looks up a hand made query
macro index \'\' "<vfolder-from-query>date:{{search.defaultPeriod}}.. "              # looks up a hand made query
macro index T "<entire-thread>"                      # looks up parent thread
macro index A "<modify-labels>+archive -unread -inbox\n"        # tag as Archived
macro index I "<modify-labels>-inbox -unread\n"                 # removed from inbox
macro index S "<modify-labels-then-hide>-inbox -unread +junk\n" # tag as Junk mail
macro index + "<modify-labels>+*\n<sync-mailbox>"               # tag as starred
macro index - "<modify-labels>-*\n<sync-mailbox>"               # tag as unstarred
macro index K "<modify-labels-then-hide>+killed\n"              # kill the whole thread

# sidebar
set sidebar_width   = 24
set sidebar_visible = yes               # set to "no" to disable sidebar view at startup
color sidebar_new yellow default
# sidebar bindings (left-right or alt-k alt-j)
bind index <left> sidebar-prev          # got to previous folder in sidebar
bind index <esc>k sidebar-prev          # got to previous folder in sidebar
bind index <right> sidebar-next         # got to next folder in sidebar
bind index <esc>j sidebar-next         # got to next folder in sidebar
bind index <space> sidebar-open         # open selected folder from sidebar

# sidebar toggle (~)
macro index ,@) "<enter-command> set sidebar_visible=no; macro index ~ ,@( 'Toggle sidebar'<Enter>"
macro index ,@( "<enter-command> set sidebar_visible=yes; macro index ~ ,@) 'Toggle sidebar'<Enter>"
macro index ~ ,@( 'Toggle sidebar'      # toggle the sidebar

# vim: set ft=muttrc:
