[general]
ui = ttyui
accounts = {{accounts|join(',', attribute='name')}}
pythonfile={{confdir}}/offlineimap_utils.py
fsync = False
maxsyncaccounts = {{accounts|length}}

{% for account in accounts %}
[Account {{account.name}}]
localrepository = {{account.name}}-local
remoterepository = {{account.name}}-remote
postsynchook = {{confdir}}/bin/delivery
maxage = 30

{% if account.type == 'gmail' %}
[Repository {{account.name}}-local]
type = Maildir
localfolders = {{maildir}}/{{account.name}}
nametrans = gmail_translate_inverse

[Repository {{account.name}}-remote]
maxconnections = 5
type = Gmail
remoteuser = {{account.email}}
remotepasseval = get_pass('''{{account.name}}''')
ssl = yes

{% if account.imap_fingerprint %}
cert_fingerprint = {{account.imap_fingerprint}}
{% else %}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{% endif %} {# fingerprint #}
realdelete = no
nametrans = gmail_translate
folderfilter = lambda folder: gmail_isfolder(folder, 'sent', 'INBOX')
{% else %} {# imap #}
[Repository {{account.name}}-local]
type = Maildir
localfolders = {{maildir}}/{{account.name}}

[Repository {{account.name}}-remote]
maxconnections = 3
type = IMAP
remoteuser = {{account.email}}
remotepasseval = get_pass('''{{account.name}}''')
remotehost = {{account.imap_host}}
ssl = yes
{% if account.imap_fingerprint %}
cert_fingerprint = {{account.imap_fingerprint}}
{% else %}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{% endif %}
realdelete = yes
folderfilter = lambda f: 'sieve' not in f.lower()
{% endif %} {# gmail/imap #}
{%- if 'torify' in account and account.torify %}
{%- if 'cafile' not in account %}
{{ "Account %aname% is insecure: tor without ssl verification; please set cafile" | replace('%aname%', account.name) | warn }}
{%- endif %}
{%- if programs.sslconnect == 'socat2' %}
{%- if 'cafile' in account and account.cafile %}
transporttunnel = socat2 STDIO 'OPENSSL,verify=1,cafile={{account.cafile}}|SOCKS4A:localhost:{{account.imap_host}}:993,socksport=9050,socksuser=imap{{account.name}}'
{%- else %} {# cafile #}
transporttunnel = socat2 STDIO 'OPENSSL,verify=0|SOCKS4A:localhost:{{account.imap_host}}:993,socksport=9050,socksuser=imap{{account.name}}'
{%- endif %} {# cafile #}
{%- elif programs.sslconnect == 'socat': %}
{{ "Account %aname% uses torify, which is cpu-intensive; consider using socat2"
| replace('%aname%', account.name) | info }}
{%- if 'cafile' in account and account.cafile %}
transporttunnel = torify socat STDIO openssl-connect:{{account.imap_host}}:993,cafile={{account.cafile}}
{%- else %} {# cafile #}
transporttunnel = torify socat STDIO openssl-connect:{{account.imap_host}}:993
{%- endif %} {# cafile #}
{%- elif programs.sslconnect == 'openssl' %}
{{ "Account %aname% uses torify, which is cpu-intensive; consider using socat2"
| replace('%aname%', account.name) | info }}
{{ "Account %aname% is insecure: tor without ssl verification; please use socat instead of openssl" | replace('%aname%', account.name) | warn }}
transporttunnel = torify openssl s_client -host {{account.imap_host}} -port 993 -quiet
{%- else %} {# program.sslconnect #}
{{ "your program.sslconnect is not valid; only socat is supported for torify"
| warn }}
{%- endif %}
{%- endif %} {# torify #}
{% endfor %}

{# vim: set ft=jinja: #}
# vim: set ft=dosini:
