[general]
ui = ttyui
accounts = {{accounts|join(',', attribute='name')}}
pythonfile={{confdir}}/offlineimap_utils.py
fsync = False
maxsyncaccounts = {{accounts|length}}

{% for account in accounts %}
[Account {{account.name}}]
localrepository = {{account.name}}-local
remoterepository = {{account.name}}-remote
status_backend = sqlite
postsynchook = {{confdir}}/bin/delivery
maxage = 30

{% if account.type == 'gmail' %}
[Repository {{account.name}}-local]
type = Maildir
localfolders = {{maildir}}/{{account.name}}
nametrans = gmail_translate_inverse

[Repository {{account.name}}-remote]
maxconnections = 5
type = Gmail
remoteuser = {{account.email}}
remotepasseval = get_pass('''{{account.name}}''')
ssl = yes

{% if account.imap_fingerprint %}
cert_fingerprint = {{account.imap_fingerprint}}
{% else %}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{% endif %} {# fingerprint #}
realdelete = no
nametrans = gmail_translate
folderfilter = lambda folder: gmail_isfolder(folder, 'sent', 'INBOX')
{% else %} {# imap #}
[Repository {{account.name}}-local]
type = Maildir
localfolders = {{maildir}}/{{account.name}}

[Repository {{account.name}}-remote]
maxconnections = 3
type = IMAP
remoteuser = {{account.email}}
remotepasseval = get_pass('''{{account.name}}''')
remotehost = {{account.imap_host}}
ssl = yes
{% if account.imap_fingerprint %}
cert_fingerprint = {{account.imap_fingerprint}}
{% else %}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{% endif %}
realdelete = no
folderfilter = lambda f: 'sieve' not in f.lower()
{% endif %} {# gmail/imap #}
{% if 'torify' in account and account.torify %}
{% if 'socat' is not avail_bin %}
{{ "socat is required to 'torify', but it is not on your path" | warn }}
{% endif %}
{% if 'cafile' in account and account.cafile %}
transporttunnel = torify socat STDIO openssl-connect:{{account.imap_host}}:993,cafile={{account.cafile}}
{% else %} {# cafile #}
{{ "Account %aname% is insecure: tor without ssl verification; please set cafile" | replace('%aname%', account.name) | warn }}
transporttunnel = torify socat STDIO openssl-connect:{{account.imap_host}}:993
{% endif %} {# cafile #}
{% endif %} {# torify #}
{% endfor %}

{# vim: set ft=jinja: #}
# vim: set ft=dosini:
