[general]
ui = ttyui
accounts = {{accounts|join(',', attribute='name')}}
pythonfile={{confdir}}/offlineimap_utils.py
fsync = False
maxsyncaccounts = 3

{% for account in accounts %}
[Account {{account.name}}]
localrepository = {{account.name}}-local
remoterepository = {{account.name}}-remote
status_backend = sqlite
postsynchook = sh -c "notmuch new && afew --tag --new"
maxage = 30

{% if account.type == 'gmail' %}
[Repository {{account.name}}-local]
type = Maildir
localfolders = {{maildir}}/{{account.name}}
nametrans = gmail_translate_inverse

[Repository {{account.name}}-remote]
maxconnections = 5
type = Gmail
remoteuser = {{account.email}}
remotepasseval = get_pass('''{{account.name}}''')
ssl = yes

{% if account.imap_fingerprint %}
cert_fingerprint = {{account.imap_fingerprint}}
{% else %}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{% endif %}
realdelete = no
nametrans = gmail_translate
folderfilter = lambda folder: gmail_isfolder(folder, 'sent', 'INBOX')
{% else %} {# imap #}
[Repository {{account.name}}-local]
type = Maildir
localfolders = {{maildir}}/{{account.name}}

[Repository {{account.name}}-remote]
maxconnections = 3
type = IMAP
remoteuser = {{account.email}}
remotepasseval = get_pass('''{{account.name}}''')
remotehost = {{account.imap_host}}
ssl = yes
{% if account.imap_fingerprint %}
cert_fingerprint = {{account.imap_fingerprint}}
{% else %}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{% endif %}
realdelete = no
folderfilter = lambda f: 'sieve' not in f.lower()
{% endif %} {# gmail/imap #}
{% if 'torify' in account and account.torify %}
transporttunnel = torify openssl s_client -host {{account.imap_host}} -port 993 -quiet
{% endif %} {# torify #}
{% endfor %}

{# vim: set ft=jinja: #}
# vim: set ft=dosini:
