#TODO: put dirname!
set-option status-left '[mailbundle]'
set-option status-left-length 18
set-option status-justify centre
set-option set-titles on
set-option default-terminal "screen-256color"
set-option escape-time 0
set-option mouse
set-window-option -g window-status-format '#I#W#F  |'
set-window-option -g window-status-current-style 'bg=yellow'
set-window-option -g window-status-bell-style 'bg=white'

set-environment -g TERM screen-256color

bind-key -n M-m new-window -n "new mail" mutt -s nosubject

new-window {{confdir}}/bin/outmail
{%- if use_offlineimap %}
split-window -p 50 {{confdir}}/bin/getmail
{%- else %}
split-window -p 50 {{confdir}}/wrappers/paperod
{%- endif %}
new-window {{confdir}}/wrappers/mutt

# vim: set ft=tmux:
