import os


def get_pass(username):
    pwd_dir = os.path.join('''{{confdir}}''', 'password')
    fname = os.path.join(pwd_dir, username)
    with open(os.path.expanduser(fname), 'r') as buf:
        return buf.read()

# vim: set ft=python:
